
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,span,i,em,b,div,a,input{margin:0;padding:0;}
body{font:12px/20px "微软雅黑";}
li,ul,ol{list-style:none;}
a{text-decoration:none;}
img{border:none;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;height:0;overflow:hidden;}
body,html{height:100%;background:#fff;}

/*----------------login------------------------*/
#login{width:850px;height:622px;background:#fff;margin: 30px auto;padding-top:48px;}
#login .logo{width:57px;height:57px;background:orange;margin:0 auto;}
#login .logo img{margin:4px 0 0 3px}
#login h1{height:84px;font-size:28px;line-height: 84px;text-align: center;font-weight: 100;}
#login .loginBox{width:360px;height:222px;margin:0 auto;}
#login .loginBox input{width:338px;height:48px;border:0;border:1px solid #ccc;margin-top:14px;
		padding-left:20px;font-size:16px;border-radius: 7px;outline: none;}
#login .loginBox a{display: block;width:360px;height:50px;background:orange;margin-top:36px;text-align: center;
		line-height: 50px;font-size: 16px;color:#fff;}
#login fieldset{width:360px;margin:30px auto 20px;text-align: center;border:0;border-top:1px solid #ccc;
		color:#ccc;}
#login .others{width:170px;height:50px;margin:0 auto;}
#login .others a{float:left;width:56px;height:50px;background: url(../img/login/weibo.jpg) no-repeat center;
		text-indent: -9999px;}
#login .others a:first-child{background: url(../img/login/qq.jpg) no-repeat center;}
#login .others a:last-child{background: url(../img/login/zfb.jpg) no-repeat center;}
#login p{width:180px;height:20px;margin:30px auto;color:#ccc;text-align: center;}
#login p a{font-size: 14px;line-height: 20px;color:#ccc;}
#login p span{margin:0 5px;}

/*----------------register------------------------*/
#register{width:855px;height:500px;background:#fff;margin:30px auto;padding-top:48px;}
#register .logo{width:57px;height:57px;background:orange;margin:0 auto;}
#register .logo img{margin:4px 0 0 3px}
#register h1{height:84px;font-size:28px;line-height: 84px;text-align: center;font-weight: 100;}

#register .registerBox{width:330px;height:auto;margin:0 auto;position:relative;}
#register .registerBox input{width:308px;height:42px;border:0;border:1px solid #D9D7D5;margin-top:14px;
		padding-left:20px;font-size:16px;border-radius: 7px;outline: none;}
#register .registerBox .code{width:170px;float:left;}
#register .registerBox p{display:block;width:130px;height:42px;position:absolute;left:200px;top:188px;
		background:#ccc;color:#fff;border: 1px solid #fff;font-size:54px;text-align: center;line-height: 30px;}
#register .registerBox a{display: block;width:330px;height:42px;background:orange;text-align: center;
		line-height: 42px;font-size: 16px;color:#fff;position: absolute;left:0;top:270px;}
#register .registerBox span{position: absolute;left:0;top:324px;}
#register .registerBox span strong:hover{cursor: pointer;}

#bottom{width:500px;height:65px;margin:20px auto 0;position:fixed;bottom:20px;left:32%;}
#bottom p{width:280px;height:20px;padding:5px 0;margin:0 auto;}
#bottom p a{padding:0 10px;color:#B0B0B0;}
#bottom p span{margin:0 5px;}
#bottom span{color:#B0B0B0;}


