
* {
    margin: 0;
    padding: 0;
}
ul,li,ol {
    list-style: none;
}
a {
    text-decoration: none;
}
.clear {
    clear: both;
}
.bg {
    width: 100%;
    height: 2000px;
    position: absolute;
    /* background: url(img/bg.png) center top no-repeat; */
    background-size: cover;
}
.content {
    width: 1000px;
    height: 1200px;
    margin: 0 auto;
}
.left {
    width: 333px;
    float: left;
}
.left .title {
    width: 333px;
    height: 133px;
    margin-top: 33px;
    background: url(img/bybc.png);
    background-size: cover;
}
.left .box {
    width: 300px;
    height: 247px;
    border-radius: 10px;
    background-color: rgba(205, 227, 255, .8);
    margin-top: 112px;
    margin-bottom: 15px;
    padding-top: 13px;
}
.left .box p {
    width: 300px;
    height: 30px;
    margin-top: 38px;
    margin-left: 16px;
    color: #333333;
    font-size: 22px;
}
.left .box p.last {
    margin-left: 80px;
}
.box p.last input {
    border-bottom: 2px solid #333;
}
.box p span {
    float: left;
}
.box p input {
    width: 80px;
    height: 29px;
    float: left;
    border: none;
    line-height: 76px;
    text-align: center;
    color: #666;
    font-size: 20px;
    margin: 0 10px;
    background-color: rgba(205, 227, 255, .8);
    outline: none;
}
.left .button button{
    width: 114px;
    height: 30px;
    border: 2px solid #fd7d20;
    border-radius: 10px;
    margin: 0 19px;
    background: linear-gradient(top , rgb(255, 245, 137) 1% , rgb(253, 211, 39) 100%);
    background: -o-linear-gradient(top , rgb(255, 245, 137) 1% , rgb(253, 211, 39) 100%);
    background: -ms-linear-gradient(top , rgb(255, 245, 137) 1% , rgb(253, 211, 39) 100%);
    background: -moz-linear-gradient(top , rgb(255, 245, 137) 1% , rgb(253, 211, 39) 100%);
    background: -webkit-linear-gradient(top , rgb(255, 245, 137) 1% , rgb(253, 211, 39) 100%);
    color: #666666;
    outline: none;
    cursor: pointer;
}
.right {
    float: left;
    width: 604px;
    background-color: rgba(205, 227, 255, .6);
    margin-left: 60px;
    margin-top: 100px;
    padding-top: 110px;
    position: relative;
}
.table{
    background-color: rgba(205, 227, 255, .6);
    border-collapse:collapse;
    border: none;
}
.table th,.table td{
    width: 111px;
    height: 30px;
    border: none;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}
.table .first {
    width: 155px;
    border-left: none;
    font-weight: 400;
}
.origin {
    color: #ff6600;
}
.blue {
    color: #3399ff;
}
.right .tip {
    position: absolute;
    left: 20px;
    top: 14px;
    color: #474646;
    font-size: 22px;
}
.tip span {
    color: #663300;
}